# Agents/Skills
.agents
skills-lock.json

# Python
env/
venv/
*.pyc
__pycache__/
*.pyo

# Django
app/backend/db.sqlite3
app/backend/media/
app/backend/staticfiles/
app/backend/.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Frontend
node_modules/
app/frontend/dist/
app/frontend/dist-ssr/
app/frontend/.env
app/frontend/.env.local
app/frontend/.vite/
*.mp4